* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width:100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #CCCCFF;
}

.mainScreen {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:5vh;
    width: 1344px;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.25);
    height: fit-content;
    padding-bottom: 5vh;
    background-color: white;
    border-radius: 25px;

    .groupTasks {
        position:relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top:36px;
        padding-bottom:5px;
        background-color: #9999FF;
        box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        max-width: 360px;
        min-width:230px;
        width:fit-content;
        height: fit-content;

        .allTasksBlock {
            color:white;
            margin-top:50px;
            margin-left:25px;
            span {
                margin-left:10px;
            }

        }
        .groupTitle {
            color:white;
            font-size: 25px;
            background-color: transparent;
            font-weight: 600;
            margin-top:50px;
            margin-left:25px;
            p {
                text-shadow: 1px 1px 2px pink;
            }
        }

        .groupList {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            


            p {
                margin-top:15px;
                margin-left:47px;
                color:white;
                font-size: 17px;
                font-weight: 300;
                opacity: .7;
            }

            .groupItem {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                margin-left:25px;
                margin-right:10px;
                margin-bottom: 15px;
                padding:10px;
                transition: .2s;


                b {
                    text-shadow: 1px 1px 2px pink;
                    color:#9999FF
                }

                span {
                    max-width: 160px;
                    word-wrap: break-word;
                    text-overflow: clip;
                }

                .redround {
                    min-height: 10px;
                    min-width: 10px;
                    width:10px;
                    height: 10px;
                    background-color: red;
                    border-radius: 50%;
                    margin-right: 10px;
                    margin-left: 1px;
                    transition: .1s;

                    &.active {
                        transform: scale(1.5);
                        transition: .1s;
                    }
                }

                .yellowround {
                    min-height: 10px;
                    min-width: 10px;
                    width:10px;
                    height: 10px;
                    background-color: rgb(255, 215, 0);
                    border-radius: 50%;
                    margin-right: 10px;
                    margin-left: 1px;
                    transition: .1s;

                    &.active {
                        transform: scale(1.5);
                        transition: .1s;
                    }
                }

                .greenround {
                    min-height: 10px;
                    min-width: 10px;
                    width:10px;
                    height: 10px;
                    background-color: green;
                    border-radius: 50%;
                    margin-right: 10px;
                    margin-left: 1px;
                    transition: .2s;
                    
                    &.active {
                        transform: scale(1.5);
                        transition: .1s;
                    }
                }


                i {
                    cursor: pointer;
                    margin-top: 1px;
                    margin-left:10px;
                    margin-right: 2px;
                    opacity: .3;
                    transition: .1s;

                }
                i:hover {
                    margin-top: 1px;
                    margin-left:10px;
                    margin-right: 2px;
                    opacity: .7;
                    transition: .1s;
                }

                b {
                    font-weight: 500;
                }
            }

            .groupItem:hover {
                transform: translateX(6px);
                transition: .2s;
            }

        }

        .addGroup {
            display: flex;
            font-size: 14px;
            font-weight: 600;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 21px;
            margin-top:30px;
            background-color: white;
            border-radius: 15px;
            padding:10px;
            cursor: pointer;
            border: 1px solid grey;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-user-select: none;

            i {
                margin-right: 10px;
                opacity: .9;
            }

            .groupButton {
                padding-right: 3px;
            }
        }

        .windowGroup {
            padding:10px;
            margin: auto;
            margin-bottom: 15px;
            width: 180px;
            padding-top:15px;
            border-radius:10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 1px solid grey;
            background-color: white;
            display: flex;
            flex-direction: column;

            .roundChoice {
                display: flex;
                justify-content: flex-start;

                .redround {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: red;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    transition: .2s;
                }

                .redround_active {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: red;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    transform:scale(1.15);
                    transition: .2s;
                }



                .yellowround {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: rgb(255, 215, 0);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
                    transition: .2s;
                }

                .yellowround_active {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: rgb(255, 215, 0);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    transform:scale(1.15);
                    transition: .2s;
                }

                .greenround {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: green;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    transition: .2s;
                }

                .greenround_active {
                    cursor:pointer;
                    margin-top: 13px;
                    margin-right:7px;
                    margin-bottom: 13px;
                    width:25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: green;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    transform:scale(1.15);
                    transition: .2s;
                }

                
            }
            

            input {
                border:1px solid grey;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width:161px;
                outline: none;
                padding: 5px;
                border-radius: 8px;
            }
            .buttonChoice {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                button {
                    cursor: pointer;
                    outline: none;
                    border:none;
                    border: 1px solid green;
                    border-radius: 5px;
                    color:white;
                    font-weight: 400;
                    margin-right: 5px;
                    background-color: green;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding:5px;
                    transition: .2s;
                }

                button:active {
                    transform: scale(0.95);
                    transition: .2s;
                }
                .cancel {
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid black;
                    font-weight: 500;
                    opacity: .5;
                    color:black
                }
            }
        } 
        
        .freeGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            margin-top: 40px;
            
            p {
                margin-top:-5px;
                margin-bottom:30px;
            }

            i {
                position: absolute;
                top:65%;
                left: 50%;
                transform: translate(-50%, -65%);
                font-size: 50px;
                box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                color:white;
                animation-name: white-arrow;
                animation-duration: 1500ms;
                animation-iteration-count: infinite;
                
            }

            @keyframes  white-arrow {
                0%{
                    margin-top:0;   
                }
                50%{
                    margin-top: 20px;  
                }

                100% {
                    margin-top:0px;
                }
            }
        }
    }

    .taskScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
        margin-top:36px;
        background-color: #9999FF;
        box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width:45vw;
        height: fit-content;
        min-height: 320px;
        padding-bottom: 30px;

        .altText {
            font-size:25px;
            color:white;
            opacity: .5;
            font-weight: 500;
            text-shadow: 1px 1px 2px pink;
        }

        .workBlock {
            margin-top:30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
            width: 90%;
            height: fit-content;
            min-height: 240px;
            padding-bottom: 50px;
            border-radius: 15px;

            .taskHeader {
                margin-left: 50px;
                margin-top:65px;
                font-size: 24px;
                font-weight: 700;
                color:grey;
                opacity:.8;
            }

            .taskHeader_yellowround {
                margin-left: 50px;
                margin-top:65px;
                font-size: 24px;
                font-weight: 700;
                color:rgb(255, 215, 0);
            }

            .taskHeader_greenround {
                margin-left: 50px;
                margin-top:65px;
                font-size: 24px;
                font-weight: 700;
                color:green;
            }

            .taskHeader_redround {
                margin-left: 50px;
                margin-top:65px;
                font-size: 24px;
                font-weight: 700;
                color:red;
            }

            .taskList {
                margin-top:64px;
                margin-left:50px;

                .taskRound {
                    cursor: pointer;
                    width:15px;
                    height: 15px;
                    background-color: grey;
                    opacity:.6;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .taskRound_active {
                    cursor: pointer;
                    width:15px;
                    height: 15px;
                    background-color: #00CC33;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .fas:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition: .1s;
                }

                .far:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition: .1s;
                }

                li {
                    list-style-type: none;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    i {
                        margin-top:1px;
                        margin-left: 10px;
                        opacity: .3;
                        transition: .1s;
                    }
                }
            }

            .taskListHidden {
                display:none
            }

            .addGroup {
                display: flex;
                font-size: 14px;
                font-weight: 600;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 15px;
                padding:10px;
                margin-left:60px;
                cursor: pointer;
                border: 1px solid #bebebe;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
                -webkit-user-select: none;
                
    
                i {
                    margin-right: 10px;
                    opacity: .9;
                }
            }


            .windowGroup {
                margin-left:50px;
                border-radius:10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: 1px solid grey;
                background-color: white;
                padding:20px;
                display: flex;
                flex-direction: column;
                
    
                input {
                    margin-bottom:15px;
                    border:1px solid grey;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    outline: none;
                    width:300px;
                    padding: 5px;
                    border-radius: 8px;
                }
                
                .buttonChoice {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
    
                    button {
                        cursor: pointer;
                        outline: none;
                        border:none;
                        border: 1px solid green;
                        border-radius: 5px;
                        color:white;
                        font-weight: 400;
                        margin-right: 5px;
                        background-color: green;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        padding:5px;
                        transition: .2s;
                    }
    
                    button:active {
                        transform: scale(0.95);
                        transition: .2s;
                    }
                    .cancel {
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid black;
                        font-weight: 500;
                        opacity: .5;
                        color:black
                    }
                }
            } 

        }
        .groupImg {
            border-radius: 25px;
            opacity: .7;
            filter:blur(1px)
        }
    }
}